<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    
    <h2 style="color:green;">Hospital Management system </style></h2>
     
    
    
    

    <div class="button">
       
      <a href="#"><button>Login as Admin</button></a>
      <br><br>
    
      <a href="index.php"><button>Login as Dcctor</button></a>
      <br><br>

      <a href="#"><button>Login as Patient</button></a>
      <br><br>
    
      <a href="#"><button>Login as Receptionist</button></a><br><br>
    
    </div>

<h3>About us:</h3>
<p style="font-size: medium;">The implementation of hospital management system project provides the institution with different advantages that improve the service quality and efficiency. As mentioned above it is created for three groups of users: patients, hospital staff and management, and third-parties like drug suppliers and insurance companies. The interaction between them conveys the general performance. The benefits received by a certain group of users also positively influence the work of the others. Cooperation and communication are the fundamental requirements here.

</p>

<h3>Address:</h3>
<h5> 
    209/1, Bangshal Road, P.O. Box: 1100,Dhaka 1000, Bangladesh
    Fax:7110505
    Email: info@ibfbd.org
    Skype: XDXDXD</h6>

</body>
</html>